@{
    ViewData["Title"] = "Movies Page";
}
@model IEnumerable<MovieResponseModel>

<div class="container mt-5">
    <div class="row g-4">
        @foreach (var card in Model)
        {
            <partial name="_MovieCard" model="card"/>
        }
    </div>
</div>